*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fontGame';
   
}



    .bookingMovie{
        font-family: 'fontGame';
         background-image: url(../img/bgmovie.jpg);   
    }
    